<div class="today-colum">
<div class="music-youtube">
 <p class="youtube_title">今週のおすすめの演奏動画</p>
 <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/ghTitIMtTCM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

 <div class="music-term-page">
 <p class="today_title">今日はこの用語を覚えよう！</p>
  <% @random.each do |term| %>
     <%= render partial: "musicterm", locals: { musicterm: term} %>
  <% end %>
 </div>
</div>


<p class="musician_introduce_title">演奏家の紹介一覧</p>
<div class="contents row">
  <% @musicians.each do |musician| %>
    <%= render partial: "musician", locals: { musician: musician } %>
  <% end %>
</div>